
#mapContainer{
    position:relative;
}


#map {
    height:100vh;
}

#inputContainer {
    position:absolute;
    height:300px;
    top: 25px;
    left:60px;
    z-index: 314159;
}

#searchContainer {
    position:absolute;
    height:300px;
    top: 25px;
    left:120px;
    z-index: 1;
}

.mystyle{
    display: none;
}